#Dependencias de Node_modules
node_modules/

# Archivoss y carpetas de compilación
platforms/
plugins/
www/
build/

# Achivos del entorno de desarrollo
.idea/
.vscode/
.DS_Store
.env

#Logs y reportes
*.log 